In [1]:
import pandas as pd
import missingno as msno
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

In [2]:
df= pd.read_csv('Phishing_Mitre_Dataset_Summer_of_AI.csv')

In [3]:
df.shape

(4799, 5)

In [4]:
#msno.matrix(df)

In [5]:
# df2 --> impute missing values with mean
df2 = df.copy()

In [6]:
df2.shape

(4799, 5)

In [7]:
df2.head()

,create_age(months),expiry_age(months),update_age(days),URL,Label
0,-1,-1,-1,http://account-google-com.ngate.my/c44cca40176...,1
1,212,16,663,http://www.coffeespecialties.com/...,0
2,-1,-1,-1,http://black.pk/wp-content/2013/04/bp.postale/...,1
3,198,6,186,http://atomicsoda.com/manutd...,0
4,240,24,1684,http://bostoncoffeecake.com/...,0

In [8]:
# replace negative values with Nan 
df2['create_age(months)'][df2['create_age(months)']<0]=np.nan
df2['expiry_age(months)'][df2['expiry_age(months)']<0]=np.nan
df2['update_age(days)'][df2['update_age(days)']<0]=np.nan

<ipython-input-8-f1e5361c9427>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['create_age(months)'][df2['create_age(months)']<0]=np.nan
<ipython-input-8-f1e5361c9427>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['expiry_age(months)'][df2['expiry_age(months)']<0]=np.nan
<ipython-input-8-f1e5361c9427>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['update_age(days)'][df2['update_age(days)']<0]=np.nan

In [9]:
# # replace Nan with mean of the column
# df2['create_age(months)'].fillna((df2['create_age(months)'].mean()),inplace=True)
# df2['expiry_age(months)'].fillna((df2['expiry_age(months)'].mean()),inplace=True)
# df2['update_age(days)'].fillna((df2['update_age(days)'].mean()),inplace=True)

In [10]:
#df2.head()

In [11]:
# normalize the data
# MinMaxScaler
# df2[]=MinMaxScaler().fit_transform(df2[].reshape(-1,1))

In [12]:
#df3 --> Delete rows with missing values
df3 = df.copy()

In [13]:
df3 = df3[(df3['create_age(months)']>0) & (df3['expiry_age(months)']>0) & (df3['expiry_age(months)'])]

In [14]:
print('Shape of Original Data',df.shape)
print('Shape of removed rows with negative values',df3.shape)

Shape of Original Data (4799, 5)
Shape of removed rows with negative values (1726, 5)

In [15]:
df2.dtypes

create_age(months)    float64
expiry_age(months)    float64
update_age(days)      float64
URL                    object
Label                   int64
dtype: object

In [16]:
#df2 --> data imputed with mean
#df3 --> data with missing parameters deleted
label = df.Label
#train_data = df2.drop(['Label'], axis=1)

In [17]:
df_new = df2.select_dtypes(exclude=['object'])
df_new= df_new.drop(['Label'], axis=1)

In [18]:
X_train, X_test, y_train, y_test = train_test_split(df_new, 
                                                    label,
                                                    train_size=0.7, 
                                                    test_size=0.3, 
                                                    random_state=0)

def score_dataset(X_train, X_test, y_train, y_test):
    model = RandomForestRegressor()
    model.fit(X_train, y_train)
    preds = model.predict(X_test)
    return mean_absolute_error(y_test, preds)

In [19]:
df2.head()

,create_age(months),expiry_age(months),update_age(days),URL,Label
0,NaN,NaN,NaN,http://account-google-com.ngate.my/c44cca40176...,1
1,212.0,16.0,663.0,http://www.coffeespecialties.com/...,0
2,NaN,NaN,NaN,http://black.pk/wp-content/2013/04/bp.postale/...,1
3,198.0,6.0,186.0,http://atomicsoda.com/manutd...,0
4,240.0,24.0,1684.0,http://bostoncoffeecake.com/...,0

In [20]:
cols_with_missing = [col for col in X_train.columns 
                                 if X_train[col].isnull().any()]
reduced_X_train = X_train.drop(cols_with_missing, axis=1)
reduced_X_test  = X_test.drop(cols_with_missing, axis=1)
# print("Mean Absolute Error from dropping columns with Missing Values:")
# print(score_dataset(reduced_X_train, reduced_X_test, y_train, y_test))

In [21]:
from sklearn.impute import SimpleImputer

my_imputer = SimpleImputer()
imputed_X_train = my_imputer.fit_transform(X_train)
imputed_X_test = my_imputer.transform(X_test)
print("Mean Absolute Error from Imputation:")
print(score_dataset(imputed_X_train, imputed_X_test, y_train, y_test))

Mean Absolute Error from Imputation:
0.19769484972505333